//Variablar
$mainColor: #DB2B39; 
$secondmainColor: #EB8F95; 
$textColor: #F3D3BD;
$textHeaderShadow:25px 0px 9px  rgba(0, 0, 0, 0.150);

//Mixin
@mixin flexCenter(){
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin fadeIn(){
    animation-name: op;
    animation-duration: 0.6s;
    @keyframes op{
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;

//Scrollbar chrome
::-webkit-scrollbar {
    width: 0.4rem;
    
  }

//Scrollbar firefox//
    scrollbar-width: thin;
  scrollbar-color: brown  #ca2835 ;
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  rgba(0, 0, 0, 0.150); 
    border-radius: 5px;
  }
  ::-webkit-scrollbar-corner{
      display: none;
  }

}



body{
    background-color: $mainColor;
    min-width: width 375px; ;
    .wrapper{

        .fa-cog{
            color: $textColor;
            position: absolute;
            float: right;
            top: 2vh ;
            right: 3vh;
            cursor: pointer;
            
            &:hover{
                transition: 0.2s;
                color: #e4c5b2;
                
            }
            &:active{
                transition: 0s;
                color: #caaf9d;
                }
            
        }
        
        height: 100vh;
    
        .wrapper-content{
            @include flexCenter();
            height: 85%;
            min-width: 90%;

            .content-ladning-page{
    
                h1{
                    line-height: 85%;
                }
                
                .content-ladning-page-top{
                    display: flex;
                    .content-ladning-page-fname{
                        font-family: Archivo Black;
                        color: $mainColor;
                        text-shadow: $textHeaderShadow;
                        font-size: 12vw;
                        
                    }
                    .content-ladning-page-text{
                        color: $textColor;
                        h2{
                        font-size: 4vw;
                        font-family: Archivo Black;
                        text-shadow:5px 0px 9px  rgba(0, 0, 0, 0.150);   
                        }
                    }
                }
                .content-ladning-page-bottom{
                    .content-ladning-page-lname{
                        font-family: Archivo Black;
                        color: $mainColor;
                        text-shadow: $textHeaderShadow;
                        font-size: 15.4vw;
                    }
                } 
            }

            .content-about-page{
                @include fadeIn();
                color: $textColor;
                display: grid;
                height: 90%;
                width: 50%;
                align-self: flex-end;
                grid-column-gap: 30px;

                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1.5fr 1fr;
               
                .about-page-header{
                    display: grid;
                    font-size: 2rem;
                    grid-row: 1/2;
                    grid-column: 1/3;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    width: 100%;
                    h1{
                        min-width: fit-content;
                    }
                   
                }

                .project-card{
                    display: flex;
                    flex-flow: column;

                    
                }

                .about-text{
                    border-radius: 3px;
                    grid-row: 2/2;
                    grid-column: 1/3;
                    min-height: 300px;
                    justify-content: center;
                    text-align: center;
                    font-size: 1.3rem;
                    line-height: 160%;

                }
                .about-img{
                    grid-row: 3/3;
                    grid-column:1/3;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-flow: row;
                    font-size: 3rem;
                                        
                    
                }

            }
            .content-project-page{
                @include fadeIn();
                color: $textColor;
                display: grid;
                height: 90%;
                max-width: 60%;
                min-width: 60%;
                align-self: flex-end;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 5fr 1fr;
                grid-column-gap: 30px;
                align-items: center;
               
                .project-page-card-container{
                    grid-column: 1/3;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-column-gap: 30px;
                    
                    a{
                        transition: 0.2s;
                        text-decoration: none;
                        color: $textColor;
                        &:hover{
                            border-bottom: solid 6px $textColor;
                        }
                    }

                }
                
                .project-page-header{
                    
                    display: grid;
                    font-size: 2rem;
                    grid-column: 1/3;
                    grid-row: 1/2;
                    justify-content: center;
   
                }


                .project-quiz{
                    border-radius: 3px;
                    grid-row: 2/2;
                    grid-column: 1;
                }
                .project-beat{
                    border-radius: 3px;
                    grid-row: 2/2;
                    grid-column: 2;
                    
                }
                .project-bat{
                    border-radius: 3px;
                    grid-row: 2/2;
                    grid-column: 3;

                }
                .project-card{
                    display: flex;
                    flex-flow: column;
                    background-color: #ca2835;
                    box-shadow:5px 5px 9px  rgba(0, 0, 0, 0.150);
                    min-height: 400px;


                    i{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 3.5rem;
                        height: 100px;
                        width: 100%;
                    }
                    h1{
                        margin: 20px; 
                        font-size: 1.4rem;
                    }
                    p{
                        margin: 0 20px;
                        max-height: 170px;
                        overflow-y: scroll;
                    }
                    h3{
                        font-weight: 100;
                        display: flex;
                        margin: 20px;
                        align-items: flex-end;
                        flex:1; 
                        
                    }
                }


            }
            .contact-project-page{
                @include fadeIn();
                color: $textColor;
                display: grid;
                height: 90%;
                align-self: flex-end;
                grid-column-gap: 30px;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 0.75fr 0.75fr 1fr;
                grid-row-gap: 40px;

                .contact-page-header{
                    display: grid;
                    font-size: 2rem;
                    grid-row: 1/2;
                    grid-column: 1/4;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                }

                .icon div{
                    transition: 0.7s;
                    
                    i{
                        font-size: 50px;
                    }

                    a{
                        color: $textColor;
                        text-decoration: none;
                    }
                    &:hover{
                        transform: scale(1.4);
                    }  
                }

                #icon1{
                    display: flex;
                    justify-content: flex-start;
                    align-items:flex-end ;
                    grid-column: 1;
                    grid-row: 2;
                }
                #icon2{
                    height: 100%;
                    display: flex;
                    align-items:flex-end ;
                    justify-content: center;
                    grid-column: 2;
                    grid-row: 2;
                    i{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }
                }
                #icon3{
                    display: flex;
                    justify-content: flex-end;
                    align-items:flex-end ;
                    grid-column: 3;
                    grid-row: 2;
                    cursor: pointer;

                    i{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                    }
                }
                #icon4{
                    display: flex;
                    grid-column: 1/4;
                    grid-row: 3;
                    justify-content: center;
                    align-items: flex-start;
                    max-width: 100%;
                    p{
                        font-size: 39px;
                        margin-left: 30px;

                    }
                    i{
                        font-size: 50px;
                    }
                }

            }
        }
        

        .wrapper-footer{
            height: 15vh;
            display: flex;
            justify-content: center;
            
            ul{
                color: $textColor;
                font-size: 1.3rem;
                display: flex;
                justify-content: space-around;
                list-style: none;
                width: 50%;
                height: fit-content;

                
                li{
                    transition: 0.2s;
                    margin:  0 15px;
                    min-width: fit-content;
                    cursor: pointer;

                    a{
                        text-decoration: none;
                        color: $textColor;
                    }


                    &:hover{
                        border-bottom: solid 6px $textColor;
                    }
                }
            }
        }
    }
}

.hidden{
    display: none !important;
    visibility: hidden !important;
}

#firstPageAnimation{
    animation-name: change;
    animation-duration: 2s;
    @keyframes change{
        0% {
        }
        100% {
            animation-timing-function: ease-in ;
            text-shadow: none ;
        }
    }

}
#fadeoutPage{
    animation-name: fadeout;
    animation-duration: 1.6s;
    @keyframes fadeout{
        0% {
            opacity: 1;
        }

        50%{
            opacity: 1;

        }
        100% {
            opacity: 0;
        }
    }
}
#fadeinPage{
    animation-name: op;
    animation-duration: 0.6s;
    @keyframes op{
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}


@media screen and (max-width:900px){
    .content-about-page{
        .about-page-header h1{
            font-size: 6vw;

        }
        .about-text{
            overflow: scroll;
        }
        .about-img i{
            display: none;
        }
    }

    .project-page-header h1{
        font-size: 6vw;
    }
    
    body .wrapper .wrapper-content .content-project-page{

        .project-page-card-container{
            grid-template-columns: 1fr 1fr ;
            overflow: scroll;

            

            .project-quiz{
                margin-left:100px ;
                width: 300px;
                max-width: 200px;
            }
            .project-beat{
                margin: 0px 25px ;
                max-width: 200px;
                width: 300px;
            }
            .project-bat{
                margin: 0px 25px ;
                max-width: 200px;
                width: 300px;
            }
        }


    }
    
    .contact-project-page{

        transform: scale(0.7);

    }
}
